body{
    background-color: #f5f5f5;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color:black;
    text-decoration: none;
}
a:visited{
    color:black
}

#main-header{
    background-color: #DE9E36;
    border-bottom: 2px solid black;

    grid-area: 1 / 1 / 5 / 21;

    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header h3 {
    font-size: 8vh;
}

.logged-user {
    margin-left: 85vw;
    height: 20%;
    width: 15%;
    position: absolute;
    display: flex;

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logged-user img{
    width: 10vh;
    height: 10vh;

    border-radius: 50%;
}


.auth-links {
    text-align: center;
    font-size: 3vh;
    
    padding: 0 5vw;
}

#search-box{
    /* height: 5vh;
    width: 10vw; */
    padding: 0;

    grid-column-start: 18;
    grid-column-end: 21;
    grid-row-start: 5;
    grid-row-end: 6;
}

#search-box input {
    height: 4vh;
    width: 8vw;
}

#search-box button {
    background-color: rgb(154, 192, 154);

    height: 4vh;
    width: 5vw;
    border: none;
}

.main-section {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 3%;

    font-size: 3vh;
    text-align: justify;

    grid-area: 8 / 6 / 19 / 16;
}

.main-section h3 {
    text-align: center;
}

.main-section h4 {
    text-align: center;
    font-size: 4vh;
}

#restaurant-list {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    grid-column-start: 4;
    grid-column-end: 18;
    grid-row-start: 8;
}

.restaurant-card {
    border: 2px solid black;
    flex: 1 0 20vw;
    text-align: justify;

    margin: 3px;
}

.restaurant-card img {
    border-radius: 50%;
    height: 10vh;
    width: 10vh;
}

.restaurant-card h4 {
    text-align: center;
}


/* ---------------------------------------------------------------------- */

.section2{
    background-color: gray;
    border: 2px solid brown;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 10;
}
.section3{
    background-color: gray;
    border: 2px solid brown;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 12;
    grid-row-end: 14;
}
.section4{
    background-color: gray;
    border: 2px solid brown;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 16;
    grid-row-end: 18;
}
.section5{
    font-size: 20px;
    text-align: center;
    background-color: whitesmoke;
    border: 2px solid brown;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 10;
}
.section6{
    background-color: whitesmoke;
    border: 2px solid brown;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 12;
    grid-row-end: 14;
}
.section7{
    background-color: whitesmoke;
    border: 2px solid brown;
    grid-column-start: 6;
    grid-column-end: 12;
    grid-row-start: 16;
    grid-row-end: 18;
}

.signup-form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.signup-form * {
    flex: 1 0 20vw;
    margin: 1vh 5vw;
    text-align: center;
}

.signup-form button {
    background-color: #36de68;
    border: 2px solid black;
    border-radius: 0px;

    height: 5vh;
    width: 5vw;
}
